<section class="search-movie-catalog">
  <div class="container wrapper">
    <h2 class="catalog-subtitle">Search Movie</h2>
    <p class="catalog-subtitle-txt">Text for SEO</p>
     <form id="search-form" class="search-form">
            <input
              class="search-form-input"
              type="text"
              name="query"
              autocomplete="off"
              placeholder="Used for movie search, matching on: Movie Title, Actor Name, Director Name"
            />
            <button type="submit" class="search-btn">Пошук</button>
          </form>

    <ul class="search-movie-list"></ul>
        <div class="search-btn-loader-box">
            <div class="search-btn-loader-box-txt">
              <p>Loading images, please wait...</p>
            </div>
            <button type="button" class="search-btn-loadmore">Load more</button>
          </div>

   
    </div>
  </div>
</section>