.header {
  background-color: rgba(0, 0, 0);
  height: 101px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-right: 58px;
}

.nav-logo {
  font-weight: 300;
  font-size: 38px;
  line-height: 55.15px;
  letter-spacing: 0%;
  color: #fff;
}

.nav-logo span {
  font-weight: 700;
  color: #e13c52;
}

.banner {
  /*border: solid 1px #e13c52;*/
  width: 728px;
  height: 90px;
  color: #fff;

  font-weight: 700;
  font-size: 32px;
  line-height: 36.77px;
  letter-spacing: 0%;
  text-align: center;
  align-content: center;
  margin-left: auto; /* Прижмет баннер к правому краю */
}
