a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

button:hover,
button:focus {
  color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
