.search-form {
  display: flex;
  flex-direction: row;
  gap: 8px;

  align-items: center;
  margin-bottom: 32px;
  justify-content: center;
}

.search-form input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 2px 8px;
  box-sizing: border-box;
}

.search-form input:hover {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  border: 1px solid #000;
}

.search-form input:focus {
  outline: none;
  border: 1px solid #e13c52;
  box-shadow: 0 0 5px rgba(225, 60, 82, 0.5);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.search-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #e13c52;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover {
  background-color: #e14c82;

  color: #fff;
}

.search-movie-list {
  max-width: 1312px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.search-movie-box {
  width: 230px;
  height: 380px;
  position: relative;
  cursor: pointer;
}

.search-movie-item {
  width: calc((100% - 96px) / 5);
  height: 425px;
}

.search-movie-small-img {
  width: 230px;
  height: 345px;
  display: block;
  object-fit: cover;
}

.search-movie-small-img-rt {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 60px;
  height: 20px;
  background-color: aliceblue;
}

.search-movie-descr {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: 230px;
  height: 80px;
  background-color: #fff;
  box-sizing: border-box;
}

.search-movie-descr-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.search-movie-descr-subtitle {
  font-weight: 600;
  font-size: 12px;

  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  padding: 0;
  text-align: center;
}
.search-movie-descr-txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  padding: 0;
  text-align: center;
}

.search-btn-loader-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.search-btn-loader-box-txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.search-btn-loadmore {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #e13c52;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn-loadmore:hover {
  background-color: #e14c82;
  color: #fff;
}
