.top-movie-list {
  max-width: 1312px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.top-movie-box {
  width: 230px;
  height: 380px;
  position: relative;
  cursor: pointer;
}

.top-movie-item {
  width: calc((100% - 96px) / 5);
  height: 425px;
}

.top-movie-small-img {
  width: 230px;
  height: 345px;
  display: block;
  object-fit: cover;
}

.top-movie-small-img-rt {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 60px;
  height: 20px;
  background-color: aliceblue;
}

.top-movie-descr {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding-top: 12px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  width: 230px;
  height: 80px;
  background-color: #fff;
  box-sizing: border-box;
  /* position: absolute;
  bottom: 0px; */
}

.category-movie-descr-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.top-movie-descr-subtitle {
  font-weight: 600;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  padding: 0;
  text-align: center;
}
.top-movie-descr-txt {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0;
  padding: 0;
  text-align: center;
}
